<div class="app-layout">
    <app-navbar-lateral></app-navbar-lateral>
    <div class="contenedor">
        <app-navbar-superior></app-navbar-superior>

        <mat-card>
            <mat-card-content>
                <h1 class="title">Adres</h1>
                <div class="search-container">
                    <div class="buscar" [formGroup]="adresForm">

                        <!-- Contenedor para Tipo de Documento -->
                        <div class="input-group">
                            <label>Tipo de Documento:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="tipoDocumento" placeholder="Escribe el tipo de documento">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Número de Documento -->
                        <div class="input-group">
                            <label>Número de Documento:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="numeroDocumento" placeholder="Número de documento">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Nombre -->
                        <div class="input-group">
                            <label>Nombre:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="nombre" placeholder="Escribe el nombre">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Apellido -->
                        <div class="input-group">
                            <label>Apellido:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="apellido" placeholder="Escribe el apellido">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Departamento -->
                        <div class="input-group">
                            <label>Departamento:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="departamento" placeholder="Escribe el departamento">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Municipio -->
                        <div class="input-group">
                            <label>Municipio:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="municipio" placeholder="Escribe el municipio">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Estado -->
                        <div class="input-group">
                            <label>Estado:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="estado" placeholder="Escribe el estado">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Entidad -->
                        <div class="input-group">
                            <label>Entidad:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="entidad" placeholder="Escribe la entidad">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Regimen -->
                        <div class="input-group">
                            <label>Regimen:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="regimen" placeholder="Escribe el régimen">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Fecha de afiliación efectiva -->
                        <div class="input-group">
                            <label>Fecha de afiliación efectiva:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="fechaAfiliacionEfectiva" placeholder="DD/MM/YYYY">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Fecha de finalización de afiliación -->
                        <div class="input-group">
                            <label>Fecha de finalización de afiliación:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="fechaFinalizacionAfiliacion" placeholder="DD/MM/YYYY">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Tipo de afiliación -->
                        <div class="input-group">
                            <label>Tipo de afiliación:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="tipoAfiliacion" placeholder="Escribe el tipo de afiliación">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Fecha Adress -->
                        <div class="input-group">
                            <label>Fecha Adress:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="fechaAdress" placeholder="DD/MM/YYYY">
                            </mat-form-field>
                        </div>

                        <!-- Botón para cargar PDF del Documento -->
                        <div class="input-group">
                            <label>Archivo PDF:</label>
                            <button mat-flat-button (click)="seleccionarArchivo()">Seleccionar PDF</button>
                            <input type="file" #documentoInput (change)="onFileSelected($event)"
                                accept=".pdf, image/*" hidden>
                            <span *ngIf="pdfNombre">{{ pdfNombre }}</span>
                        </div>

                        <!-- Botón para cargar la información -->
                        <div class="input-group">
                            <button mat-flat-button (click)="cargarInformacion()"
                                style="background: #8dd603;">Cargar Información</button>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>