<div class="app-layout">
    <app-navbar-lateral></app-navbar-lateral>
    <div class="contenedor">
        <app-navbar-superior></app-navbar-superior>
        <mat-card>
            <mat-card-content>
                <div class="search-container">
                    <div class="buscar" [formGroup]="documentoForm">
                        <!-- Input para el tipo de documento (reemplazado el select) -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Tipo de Documento</mat-label>
                            <input matInput formControlName="tipoDocumento" placeholder="Escribe el tipo de documento">
                        </mat-form-field>

                        <!-- Input para el número de documento -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Número de Documento</mat-label>
                            <input matInput formControlName="numeroDocumento">
                        </mat-form-field>

                        <!-- Botón para buscar -->
                        <button mat-flat-button (click)="buscar()" class="boton">Buscar</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <div class="search-container">
                    <div class="buscar" [formGroup]="SisbenForm">

                        <!-- Tipo de SISBÉN como campo de texto -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Tipo de SISBÉN</mat-label>
                            <input matInput formControlName="tipo_sisben" placeholder="Tipo de SISBÉN">
                        </mat-form-field>

                        <!-- Estado SISBÉN como campo de texto -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Estado SISBÉN</mat-label>
                            <input matInput formControlName="estado_sisben" placeholder="Estado SISBÉN">
                        </mat-form-field>

                        <!--Fecha Sisben como campo texto sin datepicker-->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Fecha Sisben</mat-label>
                            <input matInput formControlName="fechaSisben" placeholder="Fecha Sisben">
                        </mat-form-field>


                        <!-- Botón para cargar PDF del Documento (fuera de mat-form-field) -->
                        <div class="example-full-width">
                            <!-- Input de archivo oculto -->
                            <input type="file" #documentoInputSisben (change)="onFileSelected($event)" accept=".pdf"
                                hidden>

                            <!-- Botón para seleccionar archivo -->
                            <button mat-flat-button (click)="seleccionarArchivo()">Seleccionar PDF Sisben</button>

                            <!-- Mostrar el nombre del archivo seleccionado -->
                            <span *ngIf="pdfNombreSisben">{{ pdfNombreSisben }}</span>
                        </div>

                        <!-- Botón para cargar la información -->
                        <div class="example-full-width">
                            <button mat-flat-button (click)="cargarInformacionSisben()" style="background: #8dd603;">
                                Cargar Información
                            </button>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>