<div class="app-layout">
  <app-navbar-lateral></app-navbar-lateral>
  <div class="contenedor">
    <app-navbar-superior></app-navbar-superior>

    <mat-card>
      <mat-card-content>
        <h1 class="title">Medidas correctivas</h1>

        <div class="search-container">
          <div class="buscar" [formGroup]="medidasCorrectivasForm">

            <!-- Contenedor para cada campo, con etiquetas a la izquierda -->
            <div class="input-group">
              <label>Tipo de Documento:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="tipoDocumento" placeholder="Escribe el tipo de documento">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Número de Documento:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="numeroDocumento">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Expediente:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="expediente" placeholder="Escribe el expediente">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Formato:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="formato" placeholder="Escribe el formato">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>ID Infractor:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="idInfractor" placeholder="Escribe el ID del infractor">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Infractor:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="infractor" placeholder="Escribe el nombre del infractor">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>ID Custodio:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="idCustodio" placeholder="Escribe el ID del custodio">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Custodio:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="custodio" placeholder="Escribe el nombre del custodio">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>NIT:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="nit" placeholder="Escribe el NIT">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Razón Social:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="razonSocial" placeholder="Escribe la razón social">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>ID Representante:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="idRepresentante" placeholder="Escribe el ID del representante">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Representante:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="representante" placeholder="Escribe el nombre del representante">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Fecha Medidas Correctivas:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="fechaMedidasCorrectivas" placeholder="DD/MM/YYYY">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Departamento:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="departamentoMedidasCorrectivas" placeholder="Escribe el departamento">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Municipio:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="municipioMedidasCorrectivas" placeholder="Escribe el municipio">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Apelación:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="apelacion" placeholder="Escribe la apelación">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Estado:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="estadoMedidasCorrectivas" placeholder="Escribe el estado">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Artículo:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="articulo" placeholder="Escribe el artículo">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Numeral:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="numeral" placeholder="Escribe el numeral">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Literal:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="literal" placeholder="Escribe el literal">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Localidad:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="localidad" placeholder="Escribe la localidad">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Relato de los Hechos:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <textarea matInput formControlName="relatoHechos" placeholder="Escribe el relato de los hechos"></textarea>
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Descargos:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <textarea matInput formControlName="descargos" placeholder="Escribe los descargos"></textarea>
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Número de Medidas Correctivas:</label>
              <mat-form-field appearance="fill" class="example-full-width">
                <input matInput formControlName="numeroDeMedidasCorrectivas" placeholder="Escribe el número de medidas correctivas">
              </mat-form-field>
            </div>

            <div class="input-group">
              <label>Archivo PDF:</label>
              <button mat-flat-button (click)="seleccionarArchivo()">Seleccionar PDF Medidas Correctivas</button>
              <input type="file" #documentoInputMedidas (change)="onFileSelected($event)" accept=".pdf, image/*" hidden>
              <span *ngIf="pdfNombreMedidas">{{ pdfNombreMedidas }}</span>
            </div>

            <div class="input-group">
              <button mat-flat-button (click)="cargarInformacionMedidas()" style="background: #8dd603;">Cargar Información</button>
            </div>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>