<div class="app-layout">
    <app-navbar-lateral></app-navbar-lateral>
    <div class="contenedor">
        <app-navbar-superior></app-navbar-superior>
        <mat-card>
            <mat-card-content>
                <div class="search-container">
                    <div class="buscar" [formGroup]="documentoForm">
                        <!-- Select para el tipo de documento -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Tipo de Documento</mat-label>
                            <mat-select formControlName="tipoDocumento">
                                <mat-option value="CC">CC</mat-option>
                                <mat-option value="PET">PET</mat-option>
                                <mat-option value="PPT">PPT</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Input para el número de documento -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Número de Documento</mat-label>
                            <input matInput formControlName="numeroDocumento">
                        </mat-form-field>

                        <!-- Botón para buscar -->
                        <button mat-flat-button (click)="buscar()" class="boton">Buscar</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
