<div class="app-layout">
    <app-navbar-lateral></app-navbar-lateral>
    <div class="contenedor">
        <app-navbar-superior></app-navbar-superior>

        <mat-card>
            <mat-card-content>
                <div class="search-container">
                    <h1 class="title">Procuraduria</h1>

                    <div class="buscar" [formGroup]="ProcuraduriaForm">
                        <!-- Contenedor para Tipo de Documento -->
                        <div class="input-group">
                            <label>Tipo de Documento:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="tipoDocumento" placeholder="Escribe el tipo de documento">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Número de Documento -->
                        <div class="input-group">
                            <label>Número de Documento:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="numeroDocumento" placeholder="Escribe el número de documento">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Estado Procuraduria -->
                        <div class="input-group">
                            <label>Estado Procuraduria:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="estado_procuraduria" placeholder="Estado Procuraduria">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Fecha Procuraduria -->
                        <div class="input-group">
                            <label>Fecha Procuraduria:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="fecha_procuraduria" placeholder="Fecha Procuraduria">
                            </mat-form-field>
                        </div>

                        <!-- Botón para cargar PDF del Documento -->
                        <div class="input-group">
                            <label>Archivo PDF:</label>
                            <button mat-flat-button (click)="seleccionarArchivo()">Seleccionar PDF Procuraduria</button>
                            <input type="file" #documentoInputProcuraduria (change)="onFileSelected($event)"
                                accept=".pdf, image/*" hidden>
                            <span *ngIf="pdfNombreProcuraduria">{{ pdfNombreProcuraduria }}</span>
                        </div>

                        <!-- Botón para cargar la información -->
                        <div class="input-group">
                            <button mat-flat-button (click)="cargarInformacionProcuraduria()" style="background: #8dd603;">
                                Cargar Información
                            </button>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>