<div class="app-layout">
    <app-navbar-lateral></app-navbar-lateral>
    <div class="contenedor">
        <app-navbar-superior></app-navbar-superior>

        <mat-card>
            <mat-card-content>
                <div class="search-container">
                    <div class="buscar" [formGroup]="contraloriaForm">

                        <!-- Input para el tipo de documento -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Tipo de Documento</mat-label>
                            <input matInput formControlName="tipoDocumento" placeholder="Escribe el tipo de documento">
                        </mat-form-field>

                        <!-- Input para el número de documento -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Número de Documento</mat-label>
                            <input matInput formControlName="numeroDocumento" placeholder="Escribe el número de documento">
                        </mat-form-field>

                        <!-- Estado Contraloria como input de texto -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Estado Contraloría</mat-label>
                            <input matInput formControlName="estadoContraloria" placeholder="Escribe el estado de Contraloría">
                        </mat-form-field>

                        <!-- Fecha Contraloría como campo de texto sin datepicker -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Fecha Contraloría</mat-label>
                            <input matInput formControlName="fechaContraloria" placeholder="DD/MM/YYYY">
                        </mat-form-field>

                        <!-- Botón para cargar PDF del Documento -->
                        <div class="example-full-width">
                            <!-- Input de archivo oculto -->
                            <input type="file" #documentoInputContraloria (change)="onFileSelected($event)"
                                accept=".pdf, image/*" hidden>

                            <!-- Botón para seleccionar archivo -->
                            <button mat-flat-button (click)="seleccionarArchivo()">Seleccionar PDF Contraloría</button>

                            <!-- Mostrar el nombre del archivo seleccionado -->
                            <span *ngIf="pdfNombreContraloria">{{ pdfNombreContraloria }}</span>
                        </div>

                        <!-- Botón para cargar la información -->
                        <div class="example-full-width">
                            <button mat-flat-button (click)="cargarInformacionContraloria()"
                                style="background: #8dd603;">Cargar Información</button>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
