<div class="app-layout">
    <app-navbar-lateral></app-navbar-lateral>
    <div class="contenedor">
        <app-navbar-superior></app-navbar-superior>

        <mat-card>
            <mat-card-content>
                <h1 class="title">Ofac</h1>

                <div class="search-container">
                    <div class="buscar" [formGroup]="ofacForm">

                        <!-- Contenedor para Tipo de Documento -->
                        <div class="input-group">
                            <label>Tipo de Documento:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="tipoDocumento" placeholder="Escribe el tipo de documento">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Número de Documento -->
                        <div class="input-group">
                            <label>Número de Documento:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="numeroDocumento" placeholder="Número de documento">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Estado Ofac -->
                        <div class="input-group">
                            <label>Estado Ofac:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="estadoOfac" placeholder="Estado Ofac">
                            </mat-form-field>
                        </div>

                        <!-- Contenedor para Fecha Ofac -->
                        <div class="input-group">
                            <label>Fecha Ofac:</label>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <input matInput formControlName="fechaOfac" placeholder="Fecha Ofac">
                            </mat-form-field>
                        </div>

                        <!-- Botón para cargar PDF del Documento -->
                        <div class="input-group">
                            <label>Archivo PDF:</label>
                            <button mat-flat-button (click)="seleccionarArchivo()">Seleccionar PDF Ofac</button>
                            <input type="file" #documentoInputOfac (change)="onFileSelected($event)"
                                accept=".pdf, image/*" hidden>
                            <span *ngIf="pdfNombreOfac">{{ pdfNombreOfac }}</span>
                        </div>

                        <!-- Botón para cargar la información -->
                        <div class="input-group">
                            <button mat-flat-button (click)="cargarInformacionOfac()" style="background: #8dd603;">
                                Cargar Información
                            </button>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>