<div class="app-layout">
    <app-navbar-lateral></app-navbar-lateral>
    <div class="contenedor">
        <app-navbar-superior></app-navbar-superior>



        <mat-card>
            <mat-card-content>
                <div class="search-container">
                    <div class="buscar" [formGroup]="FondoPensionForm">

                        <!-- Input para el tipo de documento (reemplazado el select) -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Tipo de Documento</mat-label>
                            <input matInput formControlName="tipoDocumento" placeholder="Escribe el tipo de documento">
                        </mat-form-field>

                        <!-- Input para el número de documento -->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Número de Documento</mat-label>
                            <input matInput formControlName="numeroDocumento">
                        </mat-form-field>

                        <!--Estado FondoPension-->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Estado FondoPension</mat-label>
                            <input matInput formControlName="estadoFondoPension" placeholder="Estado FondoPension">
                        </mat-form-field>

                        <!--entidad_fondo_pension-->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Entidad Fondo de Pension</mat-label>
                            <input matInput formControlName="entidad_fondo_pension" placeholder="Entidad FondoPension">
                        </mat-form-field>

                        <!--Fecha FondoPension-->
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Fecha Fondo de Pension</mat-label>
                            <input matInput formControlName="fecha_fondo_pension" placeholder="Fecha FondoPension">
                        </mat-form-field>

                        <!-- Botón para cargar PDF del Documento (fuera de mat-form-field) -->
                        <div class="example-full-width">
                            <!-- Input de archivo oculto -->
                            <input type="file" #documentoInputFondoPension (change)="onFileSelected($event)"
                                accept=".pdf, image/*" hidden>

                            <!-- Botón para seleccionar archivo -->
                            <button mat-flat-button (click)="seleccionarArchivo()">Seleccionar PDF FondoPension</button>

                            <!-- Mostrar el nombre del archivo seleccionado -->
                            <span *ngIf="pdfNombreFondoPension">{{ pdfNombreFondoPension }}</span>
                        </div>

                        <!-- Botón para cargar la información -->
                        <div class="example-full-width">
                            <button mat-flat-button (click)="cargarInformacionFondoPension()"
                                style="background: #8dd603;">Cargar Información</button>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>